<h1 align="center">Login ECN/CFN</h1>
<div align="center">
  <img src="https://www.stats.govt.nz/themes/stats/images/logo.svg" height="220" width="400">
</div>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <label for="uname"><b>ECN</b></label>
    <input type="text" formControlName="ECN">
    <div *ngIf="submitted && messageForm.controls.ECN.errors">
        <div class="alert" *ngIf="messageForm.controls.ECN.errors.required">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>¡Incorrecto!</strong> Ingrese el ECN.
          </div>
    </div>

    <label for="psw"><b>CFN</b></label>
    <input type="text" formControlName="CFN">
    <div *ngIf="submitted && messageForm.controls.CFN.errors">
        <div class="alert" *ngIf="messageForm.controls.CFN.errors.required">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>¡Incorrecto!</strong> Ingrese el CFN.
          </div>
    </div>

  <button type="submit" value="Send message">Login</button>
  <button value="HelpDesk" onclick="window.open('http://google.com')">HelpDesk </button>
  <button onCLick=" window.location.href='/' ">Regresar al Inicio</button>
</form>